.container {
    background-color: lightgray;
    padding: 1rem;
    text-align: center;
    height: 30%;
}

.checkbox-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    border: 1px solid black;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
}

.checkbox {
    border-radius: 8px;
    padding: 0.5px;
    background-color: darkgray;
}