.container{
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    height: calc(2rem + 0.75vh);
    color: white;
}

.container h1 {
    font-size: calc(1rem + 1vw);
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* .container ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
} */